@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

.teko {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@media print {
  body {
    background: white !important;
  }
  body * {
    visibility: hidden;
  }

  #receipt-area,
  #receipt-area * {
    visibility: visible;
  }

  #receipt-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm; 
    padding: 15mm;
    color: black !important;
    background: white !important;
  }
}
