@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}

@media print {
  body {
    background: white !important;
  }

  /* শুধু receipt দেখাবে */
  body * {
    visibility: hidden;
  }

  #receipt-area,
  #receipt-area * {
    visibility: visible;
  }

  #receipt-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;   /* A4 width */
    padding: 15mm;
    color: black !important;
    background: white !important;
  }
}
